@page
@model Product_Inventory.Pages.ProductRetailerRegistrations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Product-Retailer Registrations</h2>

<p>
    <a class="btn btn-warning" asp-page="Create">Add a Product to a Retailer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductRetailerRegistration[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRetailerRegistration[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRetailerRegistration[0].Retailer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRetailerRegistration[0].DeliveryStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductRetailerRegistration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Retailer.RetailerDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryStatus)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-warning" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
