@page
@model Product_Inventory.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Product Registry</h2>

<p>
    <a class="btn btn-warning" asp-page="Create">Register New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product[0].ProductCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Product) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.CategoryDisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-warning" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-warning" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
